#chessTable{
    width:800px;
    height:800px;
    background-image: url("../resources/chessboard_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 49px 56px 49px 49px;
}

.figure{
    width:70px;
    height:80px;
}

td{
    padding:0;
    margin:0;
    height: 12.5%;
    width: 12.5%;
}

tr{
    padding: 0;
}
